.custom-blur-24 {
  position: relative;
}

.custom-blur-24::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 24px;
  background: inherit;
  filter: blur(24px);
}

.image_transition {
  transition: opacity 0.5s ease-in-out;
}

.text_red {
  color: red;
}

.animated {
  animation: fadeInOut 0.5s ease-in-out;
}
